﻿@model CalculatorFinal.Models.Input

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<html>
<head>


</head>

<body>
    <h1>simple calculator</h1>
    <div>
        @using (Html.BeginForm("result", "Home"))
        {
            <!--<form action="result" method="post"> -->
            <div>
                <label for="input1">input1</label>
                <input type="text" id="input1" class="form-control" name="input1" value="@Model.ip1" />
                <label for="input2">input2</label>
                <input type="text" id="input2" class="form-control" name="input2" value="@Model.ip2" />

            </div>

            <button type="submit" name="sign" class="btn btn-info" id="add" value="add">+</button>
            <button type="submit" name="sign" class="btn btn-info" id="sub" value="sub">-</button>
            <button type="submit" name="sign" class="btn btn-info" id="mul" value="mul">*</button>
            <button type="submit" name="sign" class="btn btn-info" id="div" value="div">/</button>


            <!--- </form>
              -->
        }

    </div>



</body>

</html>

